DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nusantara_wear"
AUTH_SECRET="replace-with-at-least-32-random-characters"
PAYMENT_PROVIDER="mock"
MIDTRANS_SERVER_KEY=""
STORAGE_PROVIDER="local"
RESEND_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
